@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .modal-btn{
    @apply  px-4 py-0.5 text-xl font-semibold text-center capitalize border-2 rounded-md duration-700 border-red-700 hover:text-white hover:bg-red-700 
    }

 
}



 .grido {
    display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 }

