@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .modal-btn{
    @apply  px-4 py-0.5 text-xl font-semibold text-center capitalize border-2 rounded-md duration-700 border-red-700 hover:text-white hover:bg-red-700 
    }
    .section-layout{
    @apply py-6 md:py-12 px-1 md:px-3 lg:px-6 xl:px-24
    }
 
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(250 250 249);
    
}

nav ul a.active{
    @apply bg-gradient-to-r from-orange-600 to-pink-800
}
.nav-center{
    width: 90vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}



.quote{
    background-image: url("assets/images/cover.jpg");
}
.hero{
    background-image: url('assets/images/hero1.jpg');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    -webkit-mask-image: linear-gradient(#000 70%, transparent);
     mask-image: linear-gradient(#000 70%, transparent); 
}

/* animations */

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}




.no-scroll {
    overflow-y: hidden;
}


.bg-main{
  @apply  bg-gradient-to-r from-cyan-700 to-teal-600
}